.journal-page {
    background-color: var(--bg-color);
    padding-left: 45px;
}

.journal-page-main-container {
    flex-grow: 1;
    padding: 24px 32px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.journal-header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding: 0 10px;
}

.journal-title {
    font-size: 28px;
    font-weight: 600;
    color: var(--text-color);
}

.journal-table-container {
    flex-grow: 1;
    background-color: var(--bg-menu-color);
    border-radius: 8px;
    overflow: auto;
}

.journal-table {
    width: 100%;
    border-collapse: collapse;
}


.journal-table th,
.journal-table td {
    padding: 14px 16px;
    text-align: left;
    border-bottom: 1px solid var(--border--color);
    color: var(--text-color);
    text-overflow: ellipsis;
}


.journal-table thead tr {
    background-color: var(--opacity-container);
}

.journal-table th {
    font-weight: 500;
    font-size: 14px;
    color: var(--chips-color);
}


.journal-table tbody td {
    font-size: 15px;
}


.journal-table tbody tr:last-child td {
    border-bottom: none;
}

.status-icon-cell {
    text-align: center;
    font-size: 20px;
}
