.orders-page {
  display: flex;
  flex-direction: row;
  padding-left: 72px;
}
.stage-title-line {
  height: 2px;
  width: 100%;
  margin: 8px 0 16px 0;
  border-radius: 2px;
  transition: all 0.3s ease;
}
.order-header-container {
  display: flex;
  justify-content: flex-end;
}
.order-page-main-container {
  width: 100%;
}

.stage-column {
  position: relative;
  flex: 0 0 320px; 
  height: calc(100vh - 41px);
  border-radius: 8px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  background-color: none;
}
/* .stage-column:hover {
  background-color: var(--container-hover-bg); 
} */
.stage-column.highlight {
  background-color: rgba(0, 150, 255, 0.2);
  transition: background-color 0.3s ease-in-out;
}
.orders-list {
  width: 100%;
}
.stages-container {
  display: flex;
  overflow-x: auto;
  cursor: grab;
  user-select: none;
  scrollbar-width: none;
  -ms-overflow-style: none; 
}
.stages-container::-webkit-scrollbar {
  display: none; 
}

.stages-container:active {
  cursor: grabbing;
}
.stage-column h3 {
  text-align: center;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: bold;
  color: var(--text-color);
  opacity: 1;
}
.order-container {
  background-color: var(--container-bg);
  border: 1px solid var(--border--color);
  border-radius: 3px;
  padding: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}
.order-container:hover {
  
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.order-container.dragging {
  opacity: 0.5;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}


.order-card-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.order-card-footer {

}
.drop-target {
  min-height: 200px;
  padding: 10px;
  border-radius: 8px;
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
  width: 100%;
}

.drop-indicator {
  height: 2px;
  background-color: #007bff;
  margin: 5px 0;
}
.create-order-btn{
  background: none;
  border: none;
  cursor: pointer;
  color: var(--color-text);
  background-color: var(--button-bg);
  border-color: var(--btn-border-color);
  border-radius: 3px;
  border: 1px solid;
  font-weight: 600;
  width: 120px;
  margin-top: 12px;
  align-self: flex-end;
  margin-right: 5px;
  text-transform: uppercase;
  padding: 5px 5px;
}
.planned-date {
  color: var(--text-color);
  font-weight: 400;
  font-size: 14px;
  opacity: 0.8;
}
.order-left-content {
  color: var(--text-color);
  font-weight: 500;
}